.App {
  max-width: 1920px;
  margin: 0 auto;

  .MuiGrid-item {
    .MuiTypography-body1 {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .jss157, .PrivateNotchedOutline-root-157 {
    padding-left: 6px !important;
  }

  .jss158, .PrivateNotchedOutline-legend-158 {
    width: 34.15px !important;
  }
}
